html,body,div,span,iframe,map,font,img,a img,samp,strong,hr,
h1,h2,h3,h4,h5,h6,b,p,blockquote,a,address,code,dl,dt,dd,ol,
ul,li,form,label,table,tr,td,th{padding:0;margin:0;}
body{ background: #f5f7f9; font-size:12px;}
a{ text-decoration:none;}
ul, ol { list-style: none; }
a { text-decoration: none; }
h1,h2,h3,h4,h5,h6{ font-weight: normal;}
i,em{ font-style: normal; display: inline-block;}
.clearFix:after{ content:".";height:0;visibility:hidden;display:block;clear:both;}
/* 设置主题色 */
body a{
  color:  var(--publicColor);
  display: inline-block;

}
body img{
  display: inline-block;
}